<html>
    <head>
        <title>Previous Day's Earthquakes</title>
        <style>
            th,td { font-size: 11pt; }
            table { border-collapse: collapse; }
            table, th, td { border: 1px solid black; }
            td { padding:4px; }
            tr:nth-child(even){background-color: #f2f2f2}
            pre {font-family: Menlo,Consolas,monospace, font-size:9px;}
            .notfirst:hover {background-color: #ffff99;}
            .right { text-align: right; }
            .center { text-align: center; }
        </style>
        </head>
    
    <body>
        <h1>Yesterday's Earthquakes</h1>
        <table id="table_id">
            <tr>
                <th>Time &#x25b2;</th>
                <th class="center">Magnitude &#x25bc;</th>
                <th>Place</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            {% for eq in earthquakes %}
                <tr class="notfirst">
                <td class="center">{{eq.time}}</td>
                <td class="center">{{'%0.2f' % eq.magnitude|float}}</td>
                <td><a href="{{eq.url}}" target="_blank">
                        {{eq.place}}</a></td>
                <td class="right">{{'%0.3f' % eq.longitude|float}}</td>
                <td class="right">{{'%0.3f' % eq.latitude|float}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>